.logo {
    width: 100px;
}


.grafico-tipos {
    height: 500px;
    width: 500px ;
}

.grafico-anual {
    height: 600px;
    width: 600px ;
}

@media only screen and (min-width: 600px) {
    body, header {
    width: 100% !important;
    }
  }

@media only screen and (max-width: 600px) {
   .grafico-tipos {
    display: flex;
    flex-direction: column ;
    width: 80% !important;
    margin: 5% auto;
   }
   .grafico-anual {
    width: 80% !important;
    margin: 20% auto !important;
   } 
}